@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ephesis&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
input, select{
    border: none;
    outline: none;
}
button {
  border: none;
  background: transparent;
}
body {
  background-color: rgb(15, 15, 15);
  font-family: "Inter", sans-serif;
}
img {
  max-width: 100%;
  height: auto;
}

/* typo css */
p {
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.5);
}
h1 {
  font-size: 4.875rem;
  font-weight: 900;
  line-height: 1;
  color: rgb(253, 253, 253);
}
h2 {
  color: #fff;
  font-size: 3rem;
  font-weight: 700;
}
h3 {
    font-size: 1.75rem;
    font-weight: 600;
    color: #fff;
}
h4 {
  font-size: 1.25rem;
  color: #fff;
  font-weight: 600;
}
.btn {
  font-family: inherit;
  color: rgb(253, 253, 253);
  font-size: 1.115rem;
  padding: 1rem 2rem;
  border-radius: 1.875rem;
  background-color: rgb(230, 83, 60);
}
.content p {
  margin-top: 1.25rem;
}

.container {
  width: 80%;
  margin: auto;
}
.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.text-center {
  text-align: center;
}

@media screen and (max-width: 575px) {
  .container {
    width: 90%;
  }
  .flex {
    flex-direction: column;
  }
  h1 {
    font-size: 2rem;
  }
  .btn {
    font-size: 0.875rem;
    padding: 1rem;
  }
  
  .h4 {
    font-size: 1.125rem;
  }
}



/* header css */
nav {
  padding: 1.5rem 0;
}
nav .container {
  display: flex;
  justify-content: space-between;
}
.logo h3 {
  color: rgb(230, 83, 60);
  font-size: 2rem;
  font-weight: 800;
  font-style: italic;
}
nav ul {
  border: 1px solid hsla(0, 0%, 100%, 0.1);
  border-radius: 1.875rem;
  display: flex;
  justify-content: end;
  gap: 3rem;
}
nav li {
  padding: 0.25rem;
}
nav a {
  display: inline-block;
  color: rgb(255, 255, 255);
  font-size: 1.125rem;
  padding: 0.5rem 1.125rem;
  border-radius: 1.875rem;
  transition: all 0.3s ease-in;
}
nav a:hover {
  background-color: rgb(230, 83, 60);
}
.mobile-nav {
  display: none;
}

/* header media query */
@media screen and (max-width: 575px) {
  nav ul {
    display: none;
  }
  .mobile-nav {
    display: initial;
  }
}


/* hero css */
.hero-sec {
    padding: 2rem 0;
}
.hero-sec .container {
  gap: 3rem;
}
.hero-sec .content {
  width: 40%;
}
.hero-sec .content span{
    font-family: 'Ephesis', cursive;
    font-size: 6.5rem;
}
.hero-sec .btns {
  display: flex;
  justify-content: space-between;

  margin-top: 1.75rem;
}
.hero-sec button:nth-child(2) {
  border: 1px solid rgb(231, 231, 231);
  background-color: transparent;
}
.hero-sec .img {
  position: relative;
}
.hero-sec .img img {
  display: block;
  text-align: center;
}
.hero-sec .box {
  gap: 0.5rem;
  text-align: center;
  padding: 1rem;
  border-radius: 1rem;
  backdrop-filter: blur(20px);
  background: rgba(255, 255, 255, 0.1);
}

.workout {
  position: absolute;
  top: 20%;
  right: -6%;
}
.video {
  position: absolute;
  top: 75%;
  left: -6%;
}
.h4 {
  font-size: 1.5rem;
  font-weight: 900;
  color: rgb(253, 253, 253);
}
.s {
  color: rgba(255, 255, 255, 0.65);
  font-size: 1rem;
  font-weight: 300;
}

/* header css media query */
@media screen and (max-width: 575px) {  
    .hero-sec .content {
        width: 100%;
      }
      .hero-sec .content span{
        font-size: 3.5rem;
      }
      .hero-sec .btns {
        justify-content: space-evenly;
        gap: 0.5rem;
      }
      .workout{
        right: -3%;
      }
      .video{
        left: -3%;
      }
}

/* change css */
.change-sec {
  padding: 3rem 0;
}
.change-sec .imgs {
  margin-top: 2.5rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}
.change-sec .box {
  text-align: center;
}
.change-sec .box img {
  border-radius: 50%;
  border: 0.25rem solid hsla(0, 0%, 100%, 0.1);
}
.change-sec .box h4 {
  padding: 1.25rem 0;
}

/* change media query */
@media screen and (max-width: 575px) {
    .change-sec .box p {
        margin: 0 15%;
    }
    .change-sec .imgs {
        grid-template-columns: 1fr;
      }
}

/* run css */
.run-sec {
  padding: 3rem 0;
}
.run-sec .container {
  background-color: rgb(34, 34, 34);
  border-radius: 1rem;
  padding: 2.5rem;
  gap: 4rem;
}
.run-sec .img {
  border-radius: 1rem;
  overflow: hidden;
}
.run-sec button {
  margin-top: 2rem;
}

/* bmi- css */

.bmi-sec{
    padding: 3rem 0;
}
.bmi-sec .container{
    width: 50%;
}

/* bmi media query  */

@media screen and (max-width: 575px) {
    .bmi-sec .container{
        width: 80%;
    }
}

/* chart css */
.chart-sec{
    background-color: #222;
    padding: 3rem 0;
}
.t-container{
    width: 50%;
}
.t-container h3{
    margin-bottom: 2rem;
}
table, th, tr, td {
  border-collapse: collapse;
  border: 1px solid rgba(255, 255, 255, 0.129);
}

th, td {
  padding: .875rem 1.25rem;
  text-align: left;
}
th{
    font-size: 1rem;
    font-weight: 500;
    color: #fff;
}
td{
    color: rgba(255, 255, 255, 0.329);
    font-size: 0.875rem;
}

.i-p{
    margin-top: 1.25rem;
}
.inputs{
    margin-top: 2rem;
}
.inputs input, .inputs select{
    width: 100%;
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: rgba(255, 255, 255, 0.1);
}
.inputs .row{
    display: flex;
    gap: 1.25rem;
}
.inputs .row:nth-child(2){
    margin: 1rem 0;
}
.inputs .btn{
    margin-top: 1.5rem;
}

/* chart media query  */

@media screen and (max-width: 575px) {
    
    .chart-sec .container{
        gap: 2rem;
    }
    .t-container{
        width: 100%;
    }
    table{
        width: 100%;
    }

}


/* package css */
.package-sec{
    padding: 3rem 0;
}
.package-sec .content{
    gap: 5rem;
}
.package-sec .content .img{
    border-radius: 1rem;
    overflow: hidden;
}
.packages{
    margin-top: 2rem;
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)) ;
}
.card{
    background: rgba(182, 182, 182, 0.1);
    padding: 3rem 2rem;
    border-radius: 0.5rem;
}
.card h3{
    color: rgb(230, 83, 60);
    font-size: 2.25rem;
    font-weight: 700;
    margin-bottom: 1.25rem; 
}
.card span{
    display: inline-block;
    color: rgb(241, 241, 241);
    font-size: 1.5rem;
    font-weight: 900;
    margin-bottom: 1rem;
}
.card li{
    color: rgb(177, 177, 177);
    padding: 1rem 0;
    font-weight: 300;
    font-size: 1rem;

}
.card .btn{
    margin-top: 2rem;
}


/* card media query */

@media screen and (max-width: 575px) {
    .card{
        padding: 1.5rem 2rem;
        margin: 0 2.5rem;
    }
}

/* team css */
.team-sec{
    padding: 3rem 0;
}
.team-sec .content{
    text-align: center;
}
.team-img{
    margin-top: 2rem;
    padding: 1.25rem;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 1rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 1fr;
    gap: 1.5rem;
}
.team-img .box{
    border-radius: 1.25rem;
    position: relative;
}
.team-img img{
    border-radius: 1rem;
    overflow: hidden; 
    width: 100%;
    height: 100%;
    object-fit: cover;
    aspect-ratio: 1 / 1;
}
.team-img h4{
    position: absolute;
    top: 80%;
    left: 5%;
}
.team-img span{
    position: absolute;
    top: 90%;
    left: 5%;
    color: rgba(255, 255, 255, 0.5);
    font-size: 1rem;
}

@media  screen and (max-width: 575px) {
    .team-img{
        grid-template-columns: 1fr;
    }
    .team-img span{
        top: 87%;
    }
}

/* footer css */

footer {
    background-color: rgb(34, 34, 34);
    padding: 3rem 0;
}
footer .container{
    display: flex;
}
.f-logo{
    color: rgb(230, 83, 60);
    font-style: italic;
    font-weight: 900;
    font-size: 2rem;
}
.f-p{
    margin-top: 1.25rem;
}
.f-menu{
    width: 30%;
}
.f-bold{
    display: inline-block;
    font-size: 1.25rem;
    font-weight: 600;
    color: #fff;
    margin-bottom: 1.5rem;
}
.f-menu a{
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.875rem;
    font-weight: 300;

}
footer ul{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

hr{
    width: 80%;
    margin: 0 auto;
    margin-top: 4rem;
    border: 1px solid rgba(68, 68, 68, 0.473);
}
.copy-txt{
    text-align: center;
    margin-top: 1.25rem;
}



/* footer css media query */
@media screen and (max-width: 575px){
    .f-menu{
        width: 100%;
    }
    footer .container{
        gap: 1.25rem;
    }
}

