@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ephesis&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
button{
    border: none;
    background: transparent;
}
body{
    background-color: rgb(15, 15, 15);
    font-family: 'Inter', sans-serif;
}
img{
    max-width: 100%;
    height: auto;
}

/* typo css */
p{
    font-size: 1rem;
    line-height: 1.5;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.5);
}
h1{
    font-size: 4.875rem;
    font-weight: 900;
    line-height: 1;
    color: rgb(253, 253, 253);
}
h2{
    color: #fff;
    font-size: 3rem;
    font-weight: 700;

}
h3{}
h4{
    font-size: 1.25rem;
    color: #fff;
    font-weight: 600;
}
.btn{
    font-family: inherit;
    color: rgb(253, 253, 253);
    font-size: 1.115rem;
    padding: 0.875rem 1.25rem;
    border-radius: 1.875rem;
    background-color: rgb(230, 83, 60);
}
.content p{
    margin-top: 1.25rem;
}

.container{
    width: 80%;
    margin: auto;
}
.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.text-center{
    text-align: center;
}
header{}
nav{
    background-color: #222;
    padding: 1.5rem 0;
}
nav .container{
    display: flex;
    justify-content: space-between;
}
.logo h3{
    color: rgb(230, 83, 60);
    font-size: 2rem;
    font-weight: 800;
    font-style: italic;

}
nav ul{
    border: 1px solid hsla(0, 0%, 100%, 0.10);
    border-radius: 1.875rem;
    display: flex;
    justify-content: end;
    gap: 3rem;
}
nav li{
    padding: 0.25rem;
}
nav a{
    display: inline-block;
    color: rgb(255, 255, 255);
    font-size: 1.125rem;
    padding: 0.5rem 1.125rem;
    border-radius: 1.875rem;
    transition: all 0.3s ease-in;

}
nav a:hover{
    background-color: rgb(230, 83, 60);
}
.mobile-nav{
    display: none;
}
@media screen and (max-width: 575px) {
    nav ul{
        display: none;
    }
    .mobile-nav{
        display: initial;
    }
}
/* hero css */
.hero-sec{}
.hero-sec .container{
    gap: 3rem;
}
.hero-sec .content{
    width: 40%;
}
.hero-sec .btns{
    display: flex;
    gap: 2rem;

    margin-top: 1.75rem;
}
.hero-sec button:nth-child(2){
    border: 1px solid rgb(231, 231, 231);
    background-color: transparent;
}
.hero-sec .img{
    position: relative;
}
.hero-sec .img img{
    display: block;
    text-align: center;
}
.hero-sec .box{
    gap: 0.5rem;
    text-align: center;
    padding: 1rem;
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.1);
}

.workout{
    position: absolute;
    top: 20%;
    right: -6%;
}
.video{
    position: absolute;
    top: 75%;
    left: -6%;
}
.hero-sec .box img{
    fill: whitesmoke;
}
.h4{
    font-size: 1.5rem;
    font-weight: 900;
    color: rgb(253, 253, 253);
}
.s{
    color: rgba(255, 255, 255, 0.65);
    font-size: 1rem;
    font-weight: 300;
}

/* change css */
.change-sec{
    padding: 3rem 0;
}
.change-sec .imgs{
    margin-top: 2.5rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.change-sec .box{
    text-align: center;
}
.change-sec .box img{
    border-radius: 50%;
    border: 0.25rem solid hsla(0, 0%, 100%, 0.10);
}
.change-sec .box h4{
    padding: 1.25rem 0;
}
.change-sec .box p{
}

/* run css */
.run-sec{
    padding: 3rem 0;
}
.run-sec .container{
    background-color: rgb(34, 34, 34);
    border-radius: 1rem;
    padding: 2.5rem;
    gap: 4rem;
}
.run-sec .content{}
.run-sec .img{
    border-radius: 1rem;
    overflow: hidden;
}
.run-sec button{
    margin-top: 2rem;
}
.run-sec .content{}


footer{}


/* media query */
@media screen and (max-width: 575px){
    .container{
        width: 90%;
    }
    .flex{
        flex-direction: column;
    }
    h1{
        font-size: 2rem;
    }
    .btn{
        font-size: 1rem;
        padding: 0.875rem;
    }
    .hero-sec .content{
        width: 100%;
    }
    .hero-sec .btns{
        justify-content: space-evenly;
        gap: 0.5rem;
    }
    .h4{
        font-size: 1.125rem;
    }

    .change-sec .imgs{
        grid-template-columns: 1fr;
    }

}
